.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

header {
    background: url("../images/header-bg.jpg") no-repeat top center;
    padding-bottom: 285px;
    height: 1000px;
}

