/*
font-family: 'Montserrat-Bold', sans-serif;
font-family: 'Montserrat-Regular', sans-serif;
font-family: 'KaushanScript', sans-serif;
font-family: 'Roboto-Regular', sans-serif;
font-family: 'Roboto-Italic', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix:after{
    content: '';
    clear: both;
    display: table;
}

/*----Header-Style----*/

header{
    background: url("../images/header-bg.png") no-repeat top center;
}
.header-top{
    width: 100%
}

.header-logo{
    float: left;
    margin-top: 28px;
}

.header-logo-link{
    display: block;
    color: white;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.header-menu{
    float: right;
    margin-top: 40px;
}

.header-menu-list{
    font-family: 'Montserrat-Regular', sans-serif;

}

.header-menu-item{
    float: left;
    margin-left: 50px;
}

.header-menu-item a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.header-menu-item a:hover,
.header-menu-item .active
{
    padding-bottom: 12px;
    color: rgb(252, 227, 138);
    border-bottom: 3px solid rgb(252, 227, 138);
}

.header-contant{
    text-align: center;
    margin-top: 180px;
    position: relative;
}

.header-contant-creative{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    margin-bottom: 65px;
}

.header-contant-welcome{
    color: white;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 72px;
}

.header-separate{
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
}

.header-contant-cta{
    height: 40px;
    border: 3px solid white;
    color: white;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 14px;
    padding: 0 30px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    margin-top: 50px;
}

.header-nav{
    margin-top: 77px;
    padding-bottom: 28px;
}

.header-nav-list{

}

.header-nav-item{
    width: 270px;
    float: left;
    margin-right: 29px;

}

.header-nav-item:last-child{
    margin-right: 0;
}

.header-nav-item a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    width: 100%;
    padding-top: 28px;
    border-top: 3px solid rgba(256, 256, 256, 0.5 )
}

.header-nav-list .active a{
    position: relative;
    border-top: 3px solid white;
}

.header-nav-list .active a:before{
    content: '';
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    position: absolute;
    top: -3px;
}

.header-nav-link-number{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header-nav-link-name{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*----END-Header-Style----*/

/*----About-Style----*/

.about{
    text-align: center;
    padding-bottom: 110px;
}

h2{
    padding-top: 95px;
    color: rgb(51, 51, 51);
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
}

h1{
    position: relative;
    margin-top: 25px;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

h1:after{
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -41px;
    left: calc(50% - 30px);
}

.about-contant{
    margin: 91px auto 0;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    width: 822px;
}

.about-foto-list{
    margin-top: 100px;
}

.about-foto-item{
    float: left;
    margin-right: 25px;
}

.lastfoto{
    margin-right: 0;
}

/*----END-About-Style----*/

/*----Statistics-Style----*/

.statistics{
    background-color: rgb(149, 225, 211);
}

.statistics-list{

}

.statistics-list:last-child{
    border-right: 1px solid rgba(256, 256, 256, 0.3);
}

.statistics-item{
    display: table;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 239px;
    height: 270px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-left: 1px solid rgba(256, 256, 256, 0.3);
}

.statistics-item-numder{
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 89px;
}

/*----END-Statistics-Style----*/

/*----Services-Style----*/

.services{
    text-align: center;
}

.services-table{
    padding: 50px 0;
}

.services-table-line{
    width: 100%;
    margin: 50px 0;
}

.services-table-cell{
    float: left;
    width: 335px;
    height: 70px;
    margin: 0 31px;
}

.services-table-cell-img{
    float: left;
    width: 32px;
}

.services-table-cell-content{
    text-align: left;
    width: 275px;
    float: left;
    margin-left: 28px;
}

.services-table-cell-name{
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.services-table-cell-text{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}

/*----END-Services-Style----*/

/*----Design-Style----*/

.design{
    position: relative;
    height: 850px;
    text-align: center;
    background: url("../images/design-bg.png") no-repeat top center;
}

.design-contant{
    position: absolute;
    right: 300px;
    bottom: -90px;
}

/*----END-Design-Style----*/

/*----Do-Style----*/

.do{
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 110px;
}

.do-contant{
    padding-top: 95px;
}

.do-foto{
    float: left;
}

.do-contant{
}

.do-list{
    width: 600px;
    float: right;
    text-align: left;
}

.do-item{
    border: 1px solid rgb(229, 229, 229);
    margin-bottom: 10px;
}

.do-item-header{
    border-bottom: 1px solid rgb(229, 229, 229);
}

.do-item-img{
    padding: 14px 15px;
    float: left;
}

.do-item-name{
    display: block;
    float: left;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 23px;
}

.do-item-arrow{
    float: right;
    margin: 24px 21px 0;
}

.do-item-text{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
    margin: 17px 29px 17px 15px;
}

/*----END-Do-Style----*/

/*----Quote-Style----*/

.quote{
    background-color: rgb(248, 248, 248);
    padding: 70px 0;
}

.quote-list{
    margin-left: 110px;

}

.quote-item{
    float: left;
}

.quote-img{
    margin-right: 60px;
    padding: 41px;
    border: 3px solid rgb(149, 225, 211);
}

.quote-text{
    width: 770px;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 36px;
}

.quote-line{
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
}

.quote-author{
    position: relative;
    color: rgb(51, 51, 51);
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    margin-left: 60px;
}

.quote-author:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    left: -60px;
    bottom: 7px;
}

/*----END-Quote-Style----*/

/*----Team-Style----*/

.team{
    text-align: center;
    padding-bottom: 120px;
}

.team-list{
    padding-top: 85px;
}

.team-item{
    float: left;
    margin-right: 30px;
}

.last-item{
    margin-right: 0;
}

.team-img{
    margin-bottom: 25px;
}

.team-name{
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.team-position{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/*----END-Team-Style----*/

/*----Logos-Style----*/

.logos{
    background-color: rgb(248, 248, 248);
    padding: 60px 0;
}

/*----END-Logos-Style----*/

/*----Work-Style----*/

.work{
    text-align: center;
}

.work-list{
    width: 1920px;
    padding: 100px 0;
}

.work-item{
    float: left;
    width: 480px;
}

/*.work-item:hover{
    background-color: rgb(149, 225, 211);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
}*/

.work-item-img{
    box-sizing: border-box;
}

.quote-work{
    background: none;
    padding-top: 0;
}

.quote-work-img{
    border: none;
    margin-right: 0;
}

.quote-work-text{
    margin-top: 60px;
}

/*----END-Work-Style----*/

/*----People-Style----*/

.people{
    text-align: center;
    background: url("../images/people-bg.png");
}

.people-list{
    margin-top: 120px;
}

.people-line{

}

.people-item{
    float: left;
    text-align: left;
    margin: 0 45px 0 40px;
}

.people-foto{
    width: 110px;
    float: left;
    margin-right:30px;
}

.people-contant{
    float: left;
}

.people-name{
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.people-position{
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    position: relative;
}

.people-position:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    left: 0;
    bottom: -20px;
}

.people-text{
    width: 375px;
    margin-top: 45px;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 70px;
}

/*----END-People-Style----*/

/*----Blog-Style----*/

.blog{
    text-align: center;
    padding-bottom: 120px;
}

.blog-list{
    margin-top: 90px;
}

.blog-item{
    margin-right: 30px;
    text-align: left;
    width: 380px;
    float: left;
}

.last-item{
    margin-right: 0;
}

.blog-img{
    position: relative;
}

.blog-foto{

}

.blog-date{
    position: absolute;
    left: -10px;
    bottom: 10px;
    color: white;
    background-color: rgb(149, 225, 211);
    padding: 15px;
}

.blog-date-numb{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-date-month{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.blog-name{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.blog-text{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.blog-stat{
    margin-top: 20px;
}

.blog-stat-item{
    float: left;
    margin-right: 20px;
}

.blog-stat-item img{
    display: block;
    float: left;
}

.blog-stat-item p{
    display: block;
    float: left;
    margin-left: 5px;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;

}

/*----END-Blog-Style----*/

/*----Map-Style----*/

.map{
    text-align: center;
    background: url("../images/map-bg.png");
}

.map-contant{
    padding-top: 50px;
    padding-bottom: 80px;
}

.map-text{
    position: relative;
    color: rgb(243, 129, 129);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 18px;
}

.map-text:after{
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -22px;
    left: calc(50% - 30px);
}

/*----END-Map-Style----*/

/*-----Footer-Style----*/

footer{
    background-color: rgb(248, 248, 248);

}

.footer-list{

}

.footer-item{
    float: left;
    margin-right: 39px;
}

/*-------MoGo-Style-------*/

.mogo{
    width: 465px;
    margin-top: 75px;

}

.mogo-header{
    color: rgb(204, 204, 204);
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 700;
}

.mogo-text{
    margin-top: 25px;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.mogo-followers{
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}

.mogo-followers-num{
    font-size: 18px;
    font-weight: 700;
}

.mogo-follows{
    margin-top: 20px;
    margin-bottom: 40px;
}

.follow-us{
    float: left;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    width: 70px;
}

.mogo-follow-link{
    float: left;
    margin-left: 15px;
}

.mogo-follow-i{

}

.subscribe{
    position: relative;
    margin-bottom: 70px;

}

.subscribe-form{

}

.subscribe-input{
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    box-sizing: border-box;
    height: 40px;
    width: 230px;
    outline: none;
    color: rgb(204, 204, 204);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    padding: 0 14px;
}

/*
.subscribe-input:-moz-placeholder{
    color: #ffffff;
}

.subscribe-input::-moz-placeholder{
    color: #ffffff;
}

.subscribe-input::-webkit-input-placeholder{
    color: #ffffff;
}
*/

.subscribe-btn{
    position: absolute;
    left: 229px;
    width: 150px;
    height: 40px;
    background-color: rgb(149, 225, 211);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
}

/*-------END-MoGo-Style-------*/

/*-------Blogs-Style-------*/

.blogs{


}

.blogs-item{
    margin-bottom: 30px;
}

.footer-item-name{
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 40px;
}

.blogs-img-link{
    float: left;
}

.blogs-img{

}

.blogs-contant{
    margin-top: 20px;
    width: 205px;
    float: left;
    margin-left: 20px;
}

.blogs-link-text{
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs-link-text:hover{
    text-decoration: underline;
}

.blogs-date{
    margin-top: 5px;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}

/*-------END-Blogs-Style-------*/

/*-------Instagram-Style-------*/

.last-item{
    margin-right: 0;
}

.instagram-list{
    margin-bottom: 20px;
}

.instagram-link{
    text-decoration: none;
}

.instagram-link-after{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}

.instagram-link-after:hover{
    text-decoration: underline;
}

/*-------END-Instagram-Style-------*/

.footer-text{
    margin: 25px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.footer-text-name{
    color: rgb(243, 129, 129);
}

/*-----END-Footer-Style----*/